%nav.navbar.navbar-inverse#main-nav
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{:data => {:toggle => "collapse", :target => "#bs-navbar-collapse-1"}, :type => "button", :aria => {:expanded => "false"}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, :class => "navbar-brand" do
        %i.fa.fa-line-chart
        StockView



    .collapse.navbar-collapse#bs-navbar-collapse-1
            

      %ul.nav.navbar-nav.navbar-right

        - if current_user
          %li= link_to "My Portfolio", my_portfolio_path
          %li= link_to "My Profile", user_path(current_user)
          %li= link_to "My Friends", my_friends_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", role: "button", data: { toggle: "dropdown", no_turbolink: true }, aria: { haspopup: "true", expanded: "false" }}


              %strong
                Hello
                = current_user
              %span.caret

            %ul.dropdown-menu
              %li= link_to "Account Settings", edit_user_registration_path
              %li.divider{role: "separator"}
              %li= link_to "Log out", destroy_user_session_path, method: :delete

        - else
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Login", new_user_session_path

